body {
  margin: 0;
}


.background-layer-1 {
  background-image: var(--bg-texture);
  background-repeat: repeat;
  background-size: auto 375vh;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}




.background-layer-2 {
  position: relative;
  border: 1px solid var(--primary);
  outline: 2px solid var(--primary);
  outline-offset: 3px;
  width: 99%; 
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url('../images/assets_together_2.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto; 
}


.frame-bg {
  width: 1200px;
  height: 554px;
  aspect-ratio: 16 / 9; 
  background-image: var(--bg-texture);
  background-repeat: repeat;
  background-size: 100%;
  z-index: 2; 
}

.chapters {
  width: 482px; 
  height: 1280px;
  aspect-ratio: 16 / 9;
  background-image: var(--bg-texture);
  background-repeat: repeat;
  background-size: 100%;
  z-index: 2; 

}

.footer-bg {
  width: 100vw; 
  height: 300px;
  aspect-ratio: 16 / 9; 
  background-image: var(--bg-texture);
  background-repeat: repeat;
  background-size: 100%;
  z-index: 2; 

}


.hero-frame {
  width: 1200px;
  height: auto;
  display: block;
  pointer-events: none; 
  z-index: 3; 
}


.angel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
}

.angel-video {
 width: auto;
    height: auto;
    opacity: 0.9;
    filter: brightness(1.4);
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-self: center;
    justify-self: center;
    top: -84px;
}

.grid-container {
  display: grid;
}

.grid-container-center {
  display: grid;
  place-items: center; 
}

.hero-frame, .frame-bg {
  grid-area: 1 / 1; 
}

.hero-frame {
  z-index: 2; 
}

.frame-bg {
  z-index: 1; 
}

.chapter-frame, .chapters {
  grid-area: 1 / 1; 
}

.chapter-frame {
  z-index: 2; 
}

.frame-bg {
  z-index: 1; 
}


.footer-frame {
  width: 100vw;
}

.grid-container.links {
  display: grid;
}

.footer-frame, .footer-bg, .links {
  grid-area: 1 / 1; 
}

.footer-frame {
  z-index: 2; 
}

.footer-bg {
  z-index: 1; 
}

.links {
  z-index: 3; 
}


.offset-margin-top {
  height: 100%;
}


.link-container {
  position: relative;
  display: inline-block;
  
}

.link-container:hover {
  cursor: pointer !important;
}


.underline-animation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

transition: opacity 2s ease, transform 2s ease; 
  width: 200px;
}

.link-container:hover .underline-animation {
  opacity: 1; 
}


.footer-frame {
  width: 100%;
  height: 300px;
  background-image: url('../images/footer-frame.png'), var(--bg-texture);
 background-position: top center, center;
  background-repeat: no-repeat, repeat;
  background-size: cover, cover; 
  background-position: center, center;
  display: block;
}


.loading-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--bg-texture);
  background-repeat: repeat;
  background-size: auto 375vh;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


.display-none {
  display: none; 
}


.hero-section-frame {
  width: 1200px;
  height: 550px;
  background-image: url('../images/hero-frame.png'), var(--bg-texture);
  background-position: center top, center; 
  background-repeat: no-repeat, repeat;
  background-size: cover, cover; 
  display: block;
  margin-top: 180px;
  overflow: hidden; 
  position: relative;
  z-index: 1000;
}

.hero-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opener {
width: 90%;
margin-right: 60px;

}