
.container {
display: flex;
justify-content: center;

}

.inset-0 {
padding: 1rem;


}

.inset-plus-1 {

padding: 0rem 5rem;
}

.width-1300 {
max-width: 1366px;
}


.card {
  width: max-content;
  background-image: var(--bg-texture);
  padding: 1rem 0rem 0rem;
}

.card.title {
 width: max-content;
 border-bottom: 1px solid var(--primary);
 display: flex;
 align-items: center;
 justify-content: center;
 border-left: 1px solid var(--primary);
 border-right: 1px solid var(--primary);
}

.card.title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  border-bottom: 2px solid var(--primary);
}

.card.title img {
max-width: 1080px;
padding: 0rem 1rem;
}