
@import url('reset.css');
@import url('mini-classes.css');
@import url('typography.css');
@import url('background.css');
@import url('structure.css');
@import url('layered-background.css');
@import url('chapters.css');
@import url('responsive.css');

:root {
  --primary: #ddbe97;
  --primary-hover: #ffddb2;
  --bg-texture: url('../images/pink-paper-cover.png');


}