@font-face {
    font-family: 'PP Editorial';
    src: url('../fonts/PPEditorialOld-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PP Editorial';
    src: url('../fonts/PPEditorialOld-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PP Editorial';
    src: url('../fonts/PPEditorialOld-Ultrabold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PP Editorial-light';
    src: url('../fonts/PPEditorialOld-Ultralight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PP Editorial';
    src: url('../fonts/PPEditorialOld-UltralightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Caslon Titling';
    src: url('../fonts/Caslon-Titling-MT\ Std-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Olive Full';
  src: url('../fonts/Olive_full_font-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.handwritten {
  font-family: 'Olive Full';
  font-size: 40px;
 line-height: 10px;
margin: 25px 0px;

}

.small {
font-size: 27px;

}
@keyframes bob {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-4px); }
  100% { transform: translateY(0); }
}

a {
  color: var(--primary);
  display: inline-block;
  text-decoration-color: var(--primary);
  animation: bob 2.5s ease-in-out infinite;
  transition: color 0.3s ease;
}


a:nth-of-type(even) {
  animation-delay: 1.25s; /* half of duration for opposite phase */
}

a:hover {
  color: var(--primary-hover);
}

@font-face {
  font-family: 'PP Editorial';
  src: url('../fonts/PPEditorialOld-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP Editorial';
  src: url('../fonts/PPEditorialOld-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PP Editorial';
  src: url('../fonts/PPEditorialOld-Ultrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PP Editorial';
  src: url('../fonts/PPEditorialOld-UltraboldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'PP Editorial';
  src: url('../fonts/PPEditorialOld-Ultralight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PP Editorial';
  src: url('../fonts/PPEditorialOld-UltralightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}



h1, h2, h3, h4, h5, h6 {
font-family: 'PP Editorial-light'; 
color: var(--primary);
margin: 0px;

}

h1 {
font-size: 135px;
}

h2 {
font-size: 90px;
}

h3 {
font-size: 60px;
}

h4 {
font-size: 40px;
text-transform: uppercase;
}