@font-face {
    font-family: 'PP Editorial';
    src: url('../fonts/PPEditorialOld-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PP Editorial';
    src: url('../fonts/PPEditorialOld-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PP Editorial';
    src: url('../fonts/PPEditorialOld-Ultrabold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PP Editorial-light';
    src: url('../fonts/PPEditorialOld-Ultralight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PP Editorial';
    src: url('../fonts/PPEditorialOld-UltralightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Caslon Titling';
    src: url('../fonts/Caslon-Titling-MT\ Std-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Olive Full';
  src: url('../fonts/Olive_full_font-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.handwritten {
  font-family: 'Olive Full';
  font-size: 40px;
  line-height: 10px;

margin: 25px 0px;

}

.small {
font-size: 27px;

}